
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
}

/*--------------------sliding nav on mobile and desktop ----------------------------*/

.show-desktop {
    display: block;
}
 
.nav {
    padding: 0;
    margin: 2em 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.navContainer {
    z-index: 7;
    width: 100%;
    position: relative;
    height: 150px;
}
 
#slideNav {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}
 
nav ul {
    text-align: right;
    margin-block-start: 0;
    margin-block-end: 0;
}
 
nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 15px;
}
 
nav ul li a {
    color: black;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1em;
}
 
.menu, .exitButton {
    display: none;
}
 
.menu {
    width: 1em;
    float: right;
    margin: 1.5em;
    cursor: pointer;
}
 
.exitButton {
    position: absolute;
    width: 2em;
    top: 0;
    right: 3em;
    padding-top: 3em;
    cursor: pointer;
}
 
@media (max-width: 900px){
    .menu, .exitButton {
        display: block;
    }
 
    #slideNav {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
    }
 
    #navigation {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #006462;
        top: -110vh;
        overflow-x: hidden;
        text-align: center;
        transition: 0.5s ease;
        margin-block-start: 0;
        padding-inline-start: 0;
        padding-bottom: 0;
    }
 
    .nav-transition {
        top: 0 !important;
        transition: 1s !important;
    }
 
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
        transition: 0.3s;
        top: 80px;
        padding-top: 25px;
    }
 
    nav ul li a {
        font-size: 20px;
        color: white;
    }
}

/*-----------------------------------------footer------------------------------------------------------------------*/

footer {
    background-color: #48505F;
    color: white;
}

.footer-links {
    display: flex;
    gap: 30%;
    width: 90%;
    text-decoration: none;
    list-style: none;
    padding: 1em 1em 0 1em;
    flex-wrap: wrap;
    margin-left: 15px;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-company-policies {
    text-align: right;
}

.footer-notes {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}

.footer-socials {
    margin-right: 18px;
}

@media only screen and (min-width: 600px) {
    .footer-links {
        justify-content: space-between;
    }
}


/*------------------------------------------homepage--------------------------------------------------------------*/

.home-float {
    display: flex;
    justify-content: space-between;
    margin: 2em;
}

.sec-video {
    text-align: center;
}

.homepage-title {
    margin: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

.homepage-hero {
    width: 150%;
}

.btn-green {
    background-color: #006462;
    border-color: #006462;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    border-width: 0;;
}

.btn-white {
    background-color: #ffff;
    border-color: #006462;
    color: #006462;
    border-radius: 5px;
    padding: 10px;
    border-width: 1px;
}

.home-video {
    margin-top: 8em;
}

.home-about {
    font-size: 20px;
    margin: 0 40px;
}

.btn-about {
    margin: 2em 0;
}

.home-why {
    text-align: center;
    text-decoration: underline;
}

.home-reasons {
    text-align: center;
}

.cards {
    display: grid;
    grid-template-rows: 100px 100px 150px;
    margin: 5em;
    background: white;
    padding: 2em;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5%;
}

.home-grid-title {
    font-size: 20px;
}

.card-img {
    width: 100px;
    margin: auto;
}

.home-more {
    line-height: 300px;
    height: 300px;
}

.home-green-container {
    background-color: #006462;
    height: 100px;
    margin-top: 3em;
    position: relative;
}

.home-banner-2 {
   width: 80%;
   margin-left: 3em;
   object-fit: cover;
   height: 100px;
}

.home-banner-img {
    z-index: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}

.home-banner-container {
    display: grid;
    grid-template-rows: 50px 50px 50px 50px;
    grid-template-columns: 1fr;
}

.home-qr-code {
    z-index: 10;
    right: 0px;
    grid-row-start: 4;
    position: absolute;
    padding-top: 10em;
}

.home-qr-img {
    width: 80%;
    object-fit: cover;
}

.home-direct-container {
    position: relative;
    margin: 2em 3em;
}

.sec-hear-more {
    background-color: white;
    text-align: center;
    padding: 5em;
}

@media only screen and (min-width: 650px) {
    .homepage-hero {
        width: 70%;
    }

    .home-core-content {
        width: 50%;
    }

    .homepage-title {
        font-size: 30px;
    }

    .home-about {
        font-size: 25px;
    }

    .btn-green, .btn-white {
        font-size: 18px;
    }

    .home-why {
        font-size: 25px;
    }

    .home-reasons {
        font-size: 20px;
        margin: 0 2em 2em 2em;
    }

    #homepage-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .cards {
        margin: 20px;
    }

    .home-direct-text {
        font-size: 30px;
    }

    .home-ordering-text {
        font-size: 20px;
    }

    .home-hear-more {
        font-size: 35px;
    }
}

@media only screen and (min-width: 800px) {
    .footer-links {
        justify-content: center;
    }

    .footer-notes {
        justify-content: center;
        gap: 28%;
        width: 90%;
        margin-left: 15px;
    }
    
    .home-float {
        margin: 5em;
    }

    .home-banner-2 {
        height: 150px;
        width: 90%;
    }

    .home-direct-container {
        margin-top: 4em;
    }

    #homepage-cards {
        margin: 3em;
    }

    .sec-video {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 8em 10em;
    }

    .home-video, .home-about-grid {
        margin: auto;
    }
    .home-float {
        margin: 5em;
    }
}

@media only screen and (min-width: 1000px) {
    .homepage-hero {
        max-width: 40%;
    }

    .home-float {
        justify-content: center;
    }

    .homepage-title {
        font-size: 40px;
    }

    .home-about {
        font-size: 30px;
        margin: 0 3em;
    }

    .home-why {
        font-size: 30px;
    }

    .home-reasons {
        font-size: 25px;
    }

    #homepage-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .home-green-container {
        height: 200px;
    }

    .home-direct-text {
        font-size: 40px;
    }

    .home-ordering-text {
        font-size: 25px;
    }

    .home-direct-container {
        margin: 8em;
    }

    .home-hear-more {
        font-size: 40px;
    }

    .home-banner-2 {
        height: 200px;
    }

    .home-qr-code {
        width: 20%;
        right: 2%;
        padding-top: 13em;
    }
}

@media only screen and (min-width: 1400px) {
    .home-float {
        margin: 5em 12em;
    }

    .home-why {
        font-size: 35px;
    }

    .home-reasons {
        margin: 0 4em 4em 4em;
    }

    #homepage-cards {
        grid-template-columns: repeat(4, 1fr);
    }

    .home-direct-container {
        margin: 8em 30em 8em 8em;
    }

    .home-banner-2 {
        height: 300px;
        width: 95%;
    }

    .home-direct-container {
        margin: 15em;
    }

    .home-qr-code {
        right: 15%;
        padding-top: 20em;
    }
}

@media only screen and (min-width: 1500px) {
    .homepage-hero {
        max-width: 30%;
    }

    .home-float {
        margin: 5em 20em;
    }

    .btn-contact, .btn-book {
        font-size: 25px;
    }

    .home-reasons {
        margin: 0 10em 4em 10em;
    }

    .home-qr-code {
        width: 15%;
    }
}

@media only screen and (min-width: 1700px) {
    #homepage-cards {
        margin: 5em 10em;
    }

    .card-title {
        font-size: 22px;
    }
}

/*-----------------------------------------------about us page-----------------------------*/

.about-about-title {
    font-size: 35px;
    margin: 0 0 0 1em;
}

.about-hr-left {
    margin: 0 0 0 2em;
    background: #006462;
    border: 0;
    width: 60%;
    height: 5px;
}

.about-heading-text {
    margin: 2em;
}


.about-header-img {
    width: 100%;
}

.about-sec-grey {
    background-color: #E3E3E3;
    padding: 2em;
}

.about-sec-mission-vision {
    margin: 0 2em;
    display: grid;
    column-gap: 13px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px 280px 1fr;
    margin-bottom: 3em;
}

.about-mission-img {
    width: 100%;
    object-fit: cover;
    height: 450px;
}

.about-mission-middle {
    grid-column-start: 1;
    grid-column-end: 4;
}

.about-middle-img {
    width: 100%;
    object-fit: cover;
    height: 280px;
}

.about-vision {
    grid-column-start: 2;
    grid-row-start: 3;
}

.about-vision-img {
    width: 106%;
    height: 500px;
    object-fit: cover;
}

.vision-content {
    grid-column-start: 1;
    grid-row-start: 3;
}

.about-hr-vision, .about-hr-mission {
    background: #006462;
    border: 0;
    width: 100%;
    height: 5px;
}

.about-banner-img {
    width: 100%;
}

@media only screen and (min-width: 800px) {
    .about-about-title {
        margin-left: 2em;
    }

    .about-hr-left {
        margin-left: 3em;
    }

    .about-heading-text {
        font-size: 20px;
    }

    .about-sec-grey {
        padding: 4em;
    }

    .grey-text {
        font-size: 20px;
    }

    .about-mission-title, .about-vision-title {
        font-size: 30px;
    }

    .about-mission-text, .about-vision-text {
        font-size: 20px;
    }
}

@media only screen and (min-width: 900px) {

    .about-head-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 0 2em;
    }

    .about-head-right {
        grid-column-start: 2;
        grid-row-end: 2;
    }

    .about-header-img {
        object-fit: cover;
        width: 100%;
        height: 600px;
    }

    .about-heading-text {
        margin: 2em 4em;
    }

    .about-about-title {
        margin-left: 2.5em;
    }

    .about-hr-left {
        margin-left: 5em;
        width: 40%;
    }

    .about-sec-mission-vision {
        margin-top: 3em;
    }

    .about-sec-mission-vision {
        grid-template-columns: 350px 1fr 1fr 1fr 1fr;
        grid-template-rows: 200px 100px 100px 100px 100px 100px 100px;
    }

    .mission-content {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-end: 3;
    }

    .about-mission {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .about-mission {
        width: 100%;
        grid-column-start: 4;
        grid-column-end: 6;
        height: 300px;
    }

    .about-mission-img {
        height: 350px;
    }

    .about-mission-middle {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 5;
        z-index: 7;
    }

    .about-middle-img {
        height: 200px;
    }

    .about-vision {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 6;
        height: 200px;
    }

    .about-vision-img {
        grid-column-start: 3;
        grid-row-start: 2;
        height: 300px;
    }

    .about-vision-content {
        grid-row-start: 5;
        grid-column-end: 4;
    }

    .vision-content {
        grid-row-start: 5;
        grid-column-end: 4;
    }

}

@media only screen and (min-width: 1400px) {
    .about-head-content {
        grid-template-rows: 450px;
        margin: 4em;
    }

    .about-header-img {
        height: 450px;
    }

    .about-sec-grey {
        padding: 6em 10em;
    }

    .about-sec-mission-vision {
        margin: 5em 10em;
    }
}