
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
}

/*--------------------sliding nav on mobile and desktop ----------------------------*/

.show-desktop {
    display: block;
}
 
.nav {
    padding: 0;
    margin: 2em 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.navContainer {
    z-index: 7;
    width: 100%;
    position: relative;
    height: 150px;
}
 
#slideNav {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}
 
nav ul {
    text-align: right;
    margin-block-start: 0;
    margin-block-end: 0;
}
 
nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 15px;
}
 
nav ul li a {
    color: black;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1em;
}
 
nav ul li a:hover {
    color: black;
    cursor: pointer;
}
 
.menu, .exitButton {
    display: none;
}
 
.menu {
    width: 1em;
    float: right;
    margin: 1.5em;
    cursor: pointer;
}
 
.exitButton {
    position: absolute;
    width: 2em;
    top: 0;
    right: 3em;
    padding-top: 3em;
    cursor: pointer;
}
 
@media (max-width: 900px){
    .menu, .exitButton {
        display: block;
    }
 
    #slideNav {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
    }
 
    #navigation {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0, 0.9);;
        top: -110vh;
        overflow-x: hidden;
        text-align: center;
        transition: 0.5s ease;
        margin-block-start: 0;
        padding-inline-start: 0;
        padding-bottom: 0;
    }
 
    .nav-transition {
        top: 0 !important;
        transition: 1s !important;
    }
 
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
        transition: 0.3s;
        top: 80px;
        padding-top: 25px;
    }
 
    nav ul li a {
        font-size: 20px;
        color: #818181;
    }
 
    nav ul li a:hover {
        color: white;
    }
}

/*------------------------------------------homepage--------------------------------------------------------------*/

.home-float {
    display: flex;
    justify-content: space-between;
    margin: 2em;
}

.sec-video {
    text-align: center;
}

.homepage-title {
    margin: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

.homepage-hero {
    width: 150%;
}

.btn-green {
    background-color: #006462;
    border-color: #006462;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    border-width: 0;;
}

.btn-white {
    background-color: #ffff;
    border-color: #006462;
    color: #006462;
    border-radius: 5px;
    padding: 10px;
    border-width: 1px;
}

.home-about {
    font-size: 20px;
    margin: 0 40px;
}

.btn-about {
    margin: 2em 0;
}

.home-why {
    text-align: center;
    text-decoration: underline;
}

.home-reasons {
    text-align: center;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin: 0 20px;
    column-gap: 10px;
    row-gap: 10px;
}

.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8 {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5%;
    text-align: center;
    font-size: 15px;
    padding: 5px;

}

.home-grid-title {
    font-size: 20px;
}

.home-icon {
    width: 100px;
}

.home-more {
    line-height: 300px;
    height: 300px;
}

.home-green-container {
    background-color: #006462;
    height: 100px;
    margin-top: 3em;
    position: relative;
}

.home-banner-img {
    position: absolute;
    margin-left: 50px;
    z-index: 5;
    padding-top: 80px;
}

.home-banner-container {
    display: grid;
}

.home-qr-code {
    position: absolute;
    z-index: 10;
    right: 5%;
    padding-top: 140px;
}

.home-direct-container {
    position: relative;
    margin: 5em 3em;
}

.sec-hear-more {
    background-color: white;
    text-align: center;
    padding: 5em;
}

@media only screen and (min-width: 650px) {
    .homepage-hero {
        width: 70%;
    }

    .home-core-content {
        width: 50%;
    }

    .homepage-title {
        font-size: 30px;
    }

    .home-about {
        font-size: 25px;
    }

    .btn-green, .btn-white {
        font-size: 18px;
    }

    .home-why {
        font-size: 25px;
    }

    .home-reasons {
        font-size: 20px;
        margin: 0 2em 2em 2em;
    }

    .grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8 {
        padding: 0 2em;
    }

    .home-grid-text {
        font-size: 18px;
    }

    .home-direct-text {
        font-size: 30px;
    }

    .home-ordering-text {
        font-size: 20px;
    }

    .home-hear-more {
        font-size: 35px;
    }
}

@media only screen and (min-width: 800px) {
    .home-float {
        margin: 5em;
    }
}

@media only screen and (min-width: 1000px) {
    .homepage-hero {
        max-width: 40%;
    }

    .home-float {
        justify-content: center;
    }

    .homepage-title {
        font-size: 40px;
    }

    .home-about {
        font-size: 30px;
        margin: 0 3em;
    }

    .home-why {
        font-size: 30px;
    }

    .home-reasons {
        font-size: 25px;
    }

    .home-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 40px;
        row-gap: 40px;
    }

    .home-green-container {
        height: 200px;
    }

    .home-direct-text {
        font-size: 40px;
    }

    .home-ordering-text {
        font-size: 25px;
    }

    .home-direct-container {
        margin: 8em;
    }

    .home-hear-more {
        font-size: 40px;
    }

    .home-grid {
        margin: 0 6em;
    }
}

@media only screen and (min-width: 1400px) {
    .home-float {
        margin: 5em 12em;
    }

    .home-why {
        font-size: 35px;
    }

    .home-reasons {
        margin: 0 4em 4em 4em;
    }

    .home-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .home-direct-container {
        margin: 8em 30em 8em 8em;
    }
}

@media only screen and (min-width: 1500px) {
    .homepage-hero {
        max-width: 30%;
    }

    .home-float {
        margin: 5em 20em;
    }

    .btn-contact, .btn-book {
        font-size: 25px;
    }

    .home-reasons {
        margin: 0 10em 4em 10em;
    }
}





